PAPERBRIDGE_API_HOST=0.0.0.0
PAPERBRIDGE_API_PORT=3000
PAPERBRIDGE_API_ALLOWED_HOST=@EXEDEV_HOST@
PAPERBRIDGE_API_ALLOWED_ORIGIN=https://@EXEDEV_HOST@
PAPERBRIDGE_DEVICE_ID=paperbridge-dev-001
PAPERBRIDGE_MQTT_HOST=t1b28b1a.ala.us-east-1.emqxsl.com
PAPERBRIDGE_MQTT_PORT=8883
PAPERBRIDGE_MQTT_USERNAME=paperbridge-dev-001
PAPERBRIDGE_MQTT_PASSWORD_FILE=/run/secrets/mqtt-password
PAPERBRIDGE_MQTT_TLS_ENABLED=true
PAPERBRIDGE_MQTT_TLS_CA_CERTIFICATE_FILE=/etc/ssl/certs/ca-certificates.crt
PAPERBRIDGE_MQTT_TLS_SERVER_HOSTNAME=t1b28b1a.ala.us-east-1.emqxsl.com
PAPERBRIDGE_JOB_RESULT_TIMEOUT_MS=15000
